<?xml version="1.0"?>
<configuration>
  <configSections>
      <section name="StarTrekKGSettings" type="StarTrek_KG.Config.StarTrekKGSettings, StarTrek_KG"/>
  </configSections>
  
  <!-- these settings are cached when the app starts -->
  <StarTrekKGSettings>
    <StarSystems>
      <StarSystem name="Ariel"/>
      <StarSystem name="Altair IV"/>
      <StarSystem name="Aurelia"/>
      <StarSystem name="Bajor"/>
      <StarSystem name="Beaumonde"/>
      <StarSystem name="Bellerophon"/>
      <StarSystem name="Cobb"/>
      <StarSystem name="Cygnia Minor"/>
      <StarSystem name="Dyton"/>
      <StarSystem name="Duronom"/>
      <StarSystem name="Dytallix B"/>
      <StarSystem name="Efros"/>
      <StarSystem name="El-Adrel"/>
      <StarSystem name="Epsilon Caneris"/>
      <StarSystem name="Finnea Prime"/>
      <StarSystem name="Freehaven"/>
      <StarSystem name="Gagarin"/>
      <StarSystem name="Gamma Trianguli"/>
      <StarSystem name="Genesis"/>
      <StarSystem name="Haven"/>
      <StarSystem name="Hera"/>
      <StarSystem name="Heinlein"/>
      <StarSystem name="Hurkos"/>
      <StarSystem name="Iconia"/>
      <StarSystem name="Ita"/>
      <StarSystem name="Ivor"/>
      <StarSystem name="Iyaar"/>
      <StarSystem name="Janus"/>
      <StarSystem name="Jouret"/>
      <StarSystem name="Jiangyin"/>
      <StarSystem name="Kabrel"/>
      <StarSystem name="Kelva"/>
      <StarSystem name="Ktaris"/>
      <StarSystem name="Ligillium"/>
      <StarSystem name="Lando"/>
      <StarSystem name="Lyshan"/>
      <StarSystem name="Magus"/>
      <StarSystem name="Matalas"/>
      <StarSystem name="Mudd"/>
      <StarSystem name="Nova Kron"/>
      <StarSystem name="Octavia"/>
      <StarSystem name="Ogat"/>
      <StarSystem name="Orion"/>
      <StarSystem name="Oshionion Prime"/>
      <StarSystem name="Pegos Minor"/>
      <StarSystem name="P'Jem"/>
      <StarSystem name="Praxillus"/>
      <StarSystem name="Quadra Sigma"/>
      <StarSystem name="Quazulu"/>
      <StarSystem name="Qin Shi Huang"/>
      <StarSystem name="Reynolds"/>
      <StarSystem name="Rigel"/>
      <StarSystem name="Risa"/>
      <StarSystem name="Silverhold"/>
      <StarSystem name="Sigma Draconis"/>
      <StarSystem name="Spica"/>
      <StarSystem name="Sihnon"/>
      <StarSystem name="Talos"/>
      <StarSystem name="Tam"/>
      <StarSystem name="Tau Alpha C"/>
      <StarSystem name="Ti'Acor"/>
      <StarSystem name="Udala"/>
      <StarSystem name="Ultima Thule"/>
      <StarSystem name="Uxal"/>
      <StarSystem name="Vacca"/>
      <StarSystem name="Volan"/>
      <StarSystem name="Wadi"/>
      <StarSystem name="Wolf"/>
      <StarSystem name="WhiteSun"/>
      <StarSystem name="Xanthras"/>
      <StarSystem name="Xendi Sabu"/>
      <StarSystem name="Xindus"/>
      <StarSystem name="Yadalla Prime"/>
      <StarSystem name="Yadera"/>
      <StarSystem name="Yavin"/>
      <StarSystem name="Yridian"/>
      <StarSystem name="Zalkon"/>
      <StarSystem name="Zane"/>
      <StarSystem name="Zeta Alpha"/>
    </StarSystems>
    <ConsoleText>
        <Text name="UnderConstructionMessage" value="Ver: 1.2.14c"/>
      
        <Text name="AppTitleClassic1" value="           ______ _______ ______ ______    _______ ______  ______ __  __"/>
        <Text name="AppTitleClassic2" value="          / __  //__  __// __  // __  /   /__  __// __  / / ____// / / /"/>
        <Text name="AppTitleClassic3" value="         / / /_/   / /  / /_/ // /_/ /      / /  / /_/ / / /__  / // /"/>
        <Text name="AppTitleClassic4" value="         _\ \     / /  / __  //   __/      / /  /   __/ / __ / /  '/"/>
        <Text name="AppTitleClassic5" value="       / /_/ /   / /  / / / // /\ \       / /  / /\ \  / /___ / /\ \"/>
        <Text name="AppTitleClassic6" value="      /_____/   /_/  /_/ /_//_/  \_\     /_/  /_/  \_\/_____//_/  \_\"/>
      
        <Text name="AppTitleMovie1" value="     ________________ _     _____      _______________      ______ ___   ___"/>
        <Text name="AppTitleMovie2" value="   ,' ________   ___// \    \  __ \   /___   ___/\  __ \   / ____/ \ /  ,' /"/>
        <Text name="AppTitleMovie3" value="  |  `-.__    | |   / . \   | | / /       | |    | | / /  | /____  | | / .'"/>
        <Text name="AppTitleMovie4" value="   `-.___ `.  | |  / /_\ \  |  _ `.       | |    |  _ `.  | ____/  |  _ `."/>
        <Text name="AppTitleMovie5" value="  _______\  \ | | / _____ \ | | `. \_     | |    | | `. \_| \____  | | `. \___"/>
        <Text name="AppTitleMovie6" value=" /___________|/_|/_/     \_\|_\  /__/     /_\    |_\  /__/ `.____| |_\   /_____\"/>

        <Text name="AppTitleTNG1" value="               ____ _____ ___     ____      _____ ____    _____ _ ___"/>
        <Text name="AppTitleTNG2" value="              / __//____//__ \   /__  \    /____//__  \  /____//_X__/"/>
        <Text name="AppTitleTNG3" value="             ( (    __   __| |   ___) /     __   ___) / ____  ___"/>
        <Text name="AppTitleTNG4" value="              \ \  / / ,/,/| |  /   _/     / /  /   _/ / __/ / _ \"/>
        <Text name="AppTitleTNG5" value="           ____) )/ /,/ /__| | / /\ \     / /  / /\ \ / /__ / / \ \"/>
        <Text name="AppTitleTNG6" value="          /_____//_//________|/_/ /_/    /_/  /_/ /_//____//_/   \_\"/>
      
        <Text name="AppTitleSpace" value=""/>

        <Text name="AppTitleAkulaSmall1" value="                           _________________"/>
        <Text name="AppTitleAkulaSmall2" value="                           \-__(=======//o)/    _"/>
        <Text name="AppTitleAkulaSmall3" value="                                       \__\_.--'-`--.___"/>
        <Text name="AppTitleAkulaSmall4" value="                                       `,---,-.___.-----'"/>
        <Text name="AppTitleAkulaSmall5" value="                           ____________/___/    \("/>
        <Text name="AppTitleAkulaSmall6" value="                           \-__(=======//o)/"/>

        <Text name="AppTitleSaladinSmall1" value="                                             _"/>
        <Text name="AppTitleSaladinSmall2" value="                                    _____.--'-`--.____"/>
        <Text name="AppTitleSaladinSmall3" value="                                    `,---,--.___.-----'"/>
        <Text name="AppTitleSaladinSmall4" value="                        ____________/___/     \("/>
        <Text name="AppTitleSaladinSmall5" value="                        \-__(=======//o)/"/>

        <Text name="AppTitleEagleSmall1" value="                         _________________"/>
        <Text name="AppTitleEagleSmall2" value="                         \-__(=======//o)/    _"/>
        <Text name="AppTitleEagleSmall3" value="                                     \__\_.--'-`--.___"/>
        <Text name="AppTitleEagleSmall4" value="                                     `------.___.-----'"/>
        <Text name="AppTitleEagleSmall5" value="                                              \("/>

        <Text name="AppTitleEnterpriseSmall1" value="                       _________________        _"/>
        <Text name="AppTitleEnterpriseSmall2" value="                       \-__(=======//o)/____.--'-`--.___"/>
        <Text name="AppTitleEnterpriseSmall3" value="                                  \ \  `,--,--.___.-----'"/>
        <Text name="AppTitleEnterpriseSmall4" value="                                .--`\\-'-=="/>
        <Text name="AppTitleEnterpriseSmall5" value="                               '--.______.|]"/>

        <Text name="AppTitleBattlecruiserSmall1" value="                      __Q-_            _______====-"/>
        <Text name="AppTitleBattlecruiserSmall2" value="                      (====---========= _____    /___"/>
        <Text name="AppTitleBattlecruiserSmall3" value="                       `---'           `---- `\___, /"/>
        <Text name="AppTitleBattlecruiserSmall4" value="                                             _/___/_____"/>
        <Text name="AppTitleBattlecruiserSmall5" value="                                            &lt;__________|}"/>

        <Text name="AppTitle2ShipsSmall1" value="    _________________        _"/>
        <Text name="AppTitle2ShipsSmall2" value="    \-__(=======//o)/____.--'-`--.___    __Q-_            _______====-"/>
        <Text name="AppTitle2ShipsSmall3" value="               \ \  `,--,--.___.-----'   (====---========= _____    /___"/>
        <Text name="AppTitle2ShipsSmall4" value="             .--`\\-'-==                  `---'           `---- `\___, /"/>
        <Text name="AppTitle2ShipsSmall5" value="           '--.______.|]                                         /____/_____"/>
        <Text name="AppTitle2ShipsSmall6" value="                                                               &lt;__________|}"/>

        <Text name="AppTitleExcelsiorMedium1" value="                                                      _"/>
        <Text name="AppTitleExcelsiorMedium2" value="              .-----________________--_   ________.--'-`--._____"/>
        <Text name="AppTitleExcelsiorMedium3" value="               \____==================_)  \_'===================`"/>
        <Text name="AppTitleExcelsiorMedium4" value="                      _,--___.-|__|-.______|=====/  `---'"/>
        <Text name="AppTitleExcelsiorMedium5" value="                      `---------._          ~~~~~|"/>
        <Text name="AppTitleExcelsiorMedium6" value="                                  `-._ -  -  - ,'"/>
        <Text name="AppTitleExcelsiorMedium7" value="                                      \_____,-'"/>
      
        <Text name="AppTitleDaedalusSmall1" value="                                                  _,--,_"/>               
        <Text name="AppTitleDaedalusSmall2" value="                         ____________________    /    ,-\"/>         
        <Text name="AppTitleDaedalusSmall3" value="                        ||__|__|__|__|__|__||)- |     |__|"/>         
        <Text name="AppTitleDaedalusSmall4" value="                          ,-------------.||-----|      __|"/>            
        <Text name="AppTitleDaedalusSmall5" value="                          |__||_____|  ||`-------\    |_/"/>               
        <Text name="AppTitleDaedalusSmall6" value="                          |     ====== ||_|       `----'"/>                 
        <Text name="AppTitleDaedalusSmall7" value="                          `-------------'"/>

        <Text name="AppTitleReliant1" value="                                 ___---__"/>                  
        <Text name="AppTitleReliant2" value="                                '----___'   _-_  "/>             
        <Text name="AppTitleReliant3" value="                               .-----|\-`--'---`---.______"/>
        <Text name="AppTitleReliant4" value="                                `-`---| \._________.------'"/>
        <Text name="AppTitleReliant5" value="                                 __.--'  / `--_--'"/>       
        <Text name="AppTitleReliant6" value="                     __________-'-------'___"/>              
        <Text name="AppTitleReliant7" value="                     \____(============/_=_/"/>
      
        <Text name="AppTitleD7Front1" value="                                   //-n-\\"/>
        <Text name="AppTitleD7Front2" value="                           _____---=======---_____"/>
        <Text name="AppTitleD7Front3" value="                       ====____\   /.. ..\   /____===="/>
        <Text name="AppTitleD7Front4" value="                     //         ---\__O__/---         \\"/>
        <Text name="AppTitleD7Front5" value="                     \_\                             /_/"/>

        <Text name="AppTitleDreadnaughtSide1" value="                                  __________________"/>
        <Text name="AppTitleDreadnaughtSide2" value="                         _-_     (|________________/"/>
        <Text name="AppTitleDreadnaughtSide3" value="                ____.---'---`---._/ /"/>
        <Text name="AppTitleDreadnaughtSide4" value="                \----.___:::___.----/ __________________"/>
        <Text name="AppTitleDreadnaughtSide5" value="                        `---'   `, \ (|________________/"/>
        <Text name="AppTitleDreadnaughtSide6" value="                               ,--  `----|  |---,"/>
        <Text name="AppTitleDreadnaughtSide7" value="                               |==---       ____]("/>
        <Text name="AppTitleDreadnaughtSide8" value="                              )[______.----'"/>

        <!--Thanks to Joshua Bell-->
        <Text name="AppTitleD-10-1" value="                     _"/>
        <Text name="AppTitleD-10-2" value="                  ,-@*._             ______,--========,"/>
        <Text name="AppTitleD-10-3" value="                  (=====&lt;=======,---' . . .  \_______/__"/>
        <Text name="AppTitleD-10-4" value="                  `--'        '-------------[[_]###[]|>|]"/>
        <Text name="AppTitleD-10-5" value="                                             `--------&quot;-'"/>

        <!--Thanks to Joshua Bell-->
        <Text name="AppTitleD-11-1" value="                   _"/>
        <Text name="AppTitleD-11-2" value="                ,-C*._      ______________ _____________"/>
        <Text name="AppTitleD-11-3" value="                (=====&lt;====/______,-'.---- \[[_]####[]|>|]"/>
        <Text name="AppTitleD-11-4" value="                 `--'             `--.____`--------|-&quot;-&quot;"/>
        <Text name="AppTitleD-11-5" value="                                          `----._.&quot;"/>
                                                           
        <!--Thanks to Joshua Bell-->                       
        <Text name="AppTitleD-18-1" value="                                         ______________"/>
        <Text name="AppTitleD-18-2" value="                                         \/=====###[]|>|]"/>
        <Text name="AppTitleD-18-3" value="                 ,/\____________________,&lt;-\-------/"/>
        <Text name="AppTitleD-18-4" value="                //__\-----._________========\     /"/>
        <Text name="AppTitleD-18-5" value="                                    `------------'"/>
                                                           
        <!--Thanks to Joshua Bell-->                       
        <Text name="AppTitleD-27-1" value="                   ,==-.__________,-----._.-----,"/>
        <Text name="AppTitleD-27-2" value="                   ====\__.-----.--///---//__////"/>
        <Text name="AppTitleD-27-3" value="                   `.__,-        `--.---.______ `--._"/>
        <Text name="AppTitleD-27-4" value="                                     `--'   ___/____/_____"/>
        <Text name="AppTitleD-27-5" value="                                           [ [[     | ====]"/>
        <Text name="AppTitleD-27-6" value="                                            `-------------'"/>

        <!--Thanks to Joshua Bell-->
        <Text name="AppTitleD-4-1" value="                     ,-=@._   ____________  ,--.___"/>
        <Text name="AppTitleD-4-2" value="                    (=====&lt;===\___  ,--,-'`-'-.___/"/>
        <Text name="AppTitleD-4-3" value="                     `--'         `-----._____`-. `--._"/>
        <Text name="AppTitleD-4-4" value="                                              `-/_____/.__"/>
        <Text name="AppTitleD-4-5" value="                                              [||---## &lt;  ["/>
        <Text name="AppTitleD-4-6" value="                                              `--------&quot;--'"/>

        <!--Thanks to Joshua Bell-->
        <Text name="AppTitleEnterprise-BSmall1" value="                                       __               ___"/>
        <Text name="AppTitleEnterprise-BSmall2" value="                    __.----&quot;---.--&quot;-, (====================)"/>
        <Text name="AppTitleEnterprise-BSmall3" value="                   '------._.--.`--&lt;_____.-|  |-._.--.  `-'"/>
        <Text name="AppTitleEnterprise-BSmall4" value="                                \&lt;______ ,------------`"/>
        <Text name="AppTitleEnterprise-BSmall5" value="                                 `-.____/"/>

        <!--Thanks to Joshua Bell-->
        <Text name="AppTitleExcelsiorSmall1" value="                                      __"/>
        <Text name="AppTitleExcelsiorSmall2" value="                   __.----'---.--=-, (====================)"/>
        <Text name="AppTitleExcelsiorSmall3" value="                  '------._.--.===\_____.-|  |-._.--.  `-'"/>
        <Text name="AppTitleExcelsiorSmall4" value="                               \ &lt;       ,------------`"/>
        <Text name="AppTitleExcelsiorSmall5" value="                                `-.____/"/>

        <!--Thanks to Joshua Bell-->
        <Text name="AppTitleRomulanBOP1" value="                        ,.-----------------.---,"/>
        <Text name="AppTitleRomulanBOP2" value="                       ( | (::::::_________|__/"/>
        <Text name="AppTitleRomulanBOP3" value="                        `&quot;----.--'::::`-.__________________"/>
        <Text name="AppTitleRomulanBOP4" value="                             __>.:::::::: `-._ _____      /"/>
        <Text name="AppTitleRomulanBOP5" value="                         ,--' . .`.:::::::::  `-._  `----'"/>
        <Text name="AppTitleRomulanBOP6" value="                        =`---.______________________,-----'"/>




        <!-- =========================================================================================================================== --> 
      
        <Text name="AppTitleExcelsior1" value=" .----.__________________________.------.   ___.--.__________.--._"/>
        <Text name="AppTitleExcelsior2" value=" ========================================   `\_  ____.------'-----`-----.___"/>
        <Text name="AppTitleExcelsior3" value=" `-----------------------._____.--------'     [==============================="/>
        <Text name="AppTitleExcelsior4" value="              _____    _.-|   |---.__          |=========|  `-----'"/>
        <Text name="AppTitleExcelsior5" value="           .-|||   `--'---|___|------`--------'----------|"/>
        <Text name="AppTitleExcelsior6" value="           '--------------------._     ------==== O>    /"/>
        <Text name="AppTitleExcelsior7" value="                                  `-.             __ /"/>
        <Text name="AppTitleExcelsior8" value="                                      \____.-----'"/>

        <Text name="AppTitleEnterpriseB1" value="                                     ___"/>
        <Text name="AppTitleEnterpriseB2" value=" .----.__________________________.--'---|   ___.--.__________.--._"/>
        <Text name="AppTitleEnterpriseB3" value=" ==============================='   -----   \  ______.------'-----`-----.___"/>
        <Text name="AppTitleEnterpriseB4" value=" `-----------------------._____.--------'   `-[]___]=========================="/>
        <Text name="AppTitleEnterpriseB5" value="              _____    _.-|   |---.__          |=========|  `-----'"/>
        <Text name="AppTitleEnterpriseB6" value="           .-|||   `--'---|___|------`--------'----------|"/>
        <Text name="AppTitleEnterpriseB7" value="           '--------------------._        ___.-------._ /"/>
        <Text name="AppTitleEnterpriseB8" value="                                  `-.----'-----------/"/>
        <Text name="AppTitleEnterpriseB9" value="                                      \____.-----'"/>

        <Text name="AppTitleEnterpriseD1" value="                                                 ____"/>
        <Text name="AppTitleEnterpriseD2" value="                                       __...---~'    `~~~----...__"/>
        <Text name="AppTitleEnterpriseD3" value="                                   _==============================="/>
        <Text name="AppTitleEnterpriseD4" value="              ________________ _ /'      `---..._______...---'"/>
        <Text name="AppTitleEnterpriseD5" value="             (_______________||_) . .  ,--'"/>
        <Text name="AppTitleEnterpriseD6" value="                 /    /.---'         `/"/>
        <Text name="AppTitleEnterpriseD7" value="                '-------_- - - - - _/"/>
        <Text name="AppTitleEnterpriseD8" value="                         `--------'"/>

        <Text name="AppTitleKTingaSide1" value="                  _                        _.-------,"/>
        <Text name="AppTitleKTingaSide2" value="                .-.|                 _____/  \[_____|"/>
        <Text name="AppTitleKTingaSide3" value="               ========______.------/____'---------[__"/>
        <Text name="AppTitleKTingaSide4" value="               (    _,--------------\_`---.___________`--,"/>
        <Text name="AppTitleKTingaSide5" value="                `--'                 `---------/  ______/"/>
        <Text name="AppTitleKTingaSide6" value="                                            __/__/_____/__"/>
        <Text name="AppTitleKTingaSide7" value="                                           />- [      ]  |===\"/>
        <Text name="AppTitleKTingaSide8" value="                                           `-----------------'"/>

        <Text name="MissionStatement" value= "Mission: Destroy {0} Hostile ships in {1} stardates with {2} starbases." />
        <Text name="PhotonTorpedoesDamaged" value="Photon torpedo control is damaged." />
        <Text name="RepairsUnderway" value="Repairs are underway." />
        <Text name="SuccessfullDock" value="successfully docked with starbase." />
        <Text name="ComputerDamaged" value="The main computer is damaged." />
        <Text name="SRSDamaged" value="Short range scanner is damaged." />
        <Text name="LRSDamaged" value="Long range scanner is damaged." />
        <Text name="LowEnergyLevel" value="Condition YELLOW: Low energy level."/>

        <Text name="shipDestroyed" value="destroyed at sector"/>
        <Text name="GalacticRecordLine" value="---------------------------------"/>
      
        <!-- Short Range Scan Screen -->
        <Text name="SRSTopBorder" value="|=--=--=--=--=--=--=--=|"/>
        <Text name="SRSRegionIndicator" value="             Region: {0}"/>
        <Text name="SRSQuadrantIndicator" value="           Quadrant: [{0},{1}]"/>
        <Text name="SRSSectorIndicator" value="             Sector: [{0},{1}]"/>
        <Text name="SRSStardateIndicator" value="           Stardate: {0}"/>
        <Text name="SRSTimeRemainingIndicator" value="     Time remaining: {0}"/>
        <Text name="SRSConditionIndicator" value="          Condition: {0}"/>
        <Text name="SRSEnergyIndicator" value="             Energy: {0}"/>
        <Text name="SRSShieldsIndicator" value="            Shields: {0}"/>
        <Text name="SRSTorpedoesIndicator" value="   Photon Torpedoes: {0}"/>
        <Text name="SRSDockedIndicator" value="             Docked: {0}"/>
        <Text name="SRSBottomBorder" value="|=--=--=--=--=--=--=--=|"/>
      
        <!-- Print Current Status -->
        <Text name="CSTimeRemaining" value="               Time Remaining: {0}"/>
        <Text name="CSHostilesRemaining" value="      Hostile Ships Remaining: {0}"/>
        <Text name="CSHostilesInQuadrant" value="         Hostiles in Quadrant: {0}"/>
        <Text name="CSStarbases" value="                    Starbases: {0}"/>
        <Text name="CSWarpEngineDamage" value="           Warp Engine Damage: {0}"/>
        <Text name="CSSRSDamage" value="   Short Range Scanner Damage: {0}"/>
        <Text name="CSLRSDamage" value="    Long Range Scanner Damage: {0}"/>
        <Text name="CSShieldsDamage" value="       Shield Controls Damage: {0}"/>
        <Text name="CSComputerDamage" value="         Main Computer Damage: {0}"/>
        <Text name="CSPhotonDamage" value="Photon Torpedo Control Damage: {0}"/>
        <Text name="CSPhaserDamage" value="                Phaser Damage: {0}"/>
      
        <Text name="HostileDetected" value="Condition RED: Hostile{0} detected."/>
        <Text name="ShieldsDown" value="Warning: Shields are down."/>
        <Text name="IDHostile" value="Hostile identified as: {0}"/>

        <Text name="SectorDefSetupError" value="Error Setting up Sector"/>
        <Text name="DockingMessageLowerShields" value="Lowering shields as part of docking sequence...}"/>
      
        <Text name="TimeRemaining" value="Long range scanner is damaged." />
        <Text name="HostilesRemaining" value="Long range scanner is damaged." />
        <Text name="HostilesInQuadrant" value="Long range scanner is damaged." />
        <Text name="Starbases" value="Long range scanner is damaged." />
        <Text name="WarpDamage" value="Long range scanner is damaged." />
        <Text name="SRSDamage" value="Long range scanner is damaged." />
        <Text name="LRSDamage" value="Long range scanner is damaged." />
        <Text name="ShieldDamage" value="Long range scanner is damaged." />
        <Text name="ComputerDamage" value="Long range scanner is damaged." />
        <Text name="PhotonDamage" value="Long range scanner is damaged." />
        <Text name="PhaserDamage" value="Long range scanner is damaged." />

    </ConsoleText>
    <Factions>
      <Faction name="Klingon" allegiance="Hostile"> 
        <FactionShips>
            <FactionShip name="IKC Aktuh"/>
            <FactionShip name="IKC Amar"/>
            <FactionShip name="IKC Azetbur"/>
            <FactionShip name="IKC B'iJik"/>
            <FactionShip name="IKC BIrHegh"/>
            <FactionShip name="IKC BIrHom"/>
            <FactionShip name="IKC BIrruv"/>
            <FactionShip name="IKC BIvwI"/>
            <FactionShip name="IKC BochbaS"/>
            <FactionShip name="IKC BochHeH"/>
            <FactionShip name="IKC BochHov"/>
            <FactionShip name="IKC BochlIy"/>
            <FactionShip name="IKC Bochqu"/>
            <FactionShip name="IKC Bochtev"/>
            <FactionShip name="IKC BoHcha"/>
            <FactionShip name="IKC BoHDegh"/>
            <FactionShip name="IKC BoHDol"/>
            <FactionShip name="IKC BoHDuS"/>
            <FactionShip name="IKC BoHpeng"/>
            <FactionShip name="IKC BoHtIq"/>
            <FactionShip name="IKC BoHyaS"/>
            <FactionShip name="IKC BoQwI'"/>
            <FactionShip name="IKC Boreth"/>
            <FactionShip name="IKC Bortas"/>
            <FactionShip name="IKC BoSwI'"/>
            <FactionShip name="IKC BotwI'"/>
            <FactionShip name="IKC B'rel"/>
            <FactionShip name="IKS B'Moth"/>
            <FactionShip name="IKC Buruk"/>
            <FactionShip name="IKC BuvwI'"/>
            <FactionShip name="IKC Chang"/>
            <FactionShip name="IKC CharghwI'"/>
            <FactionShip name="IKC ChavwI'"/>
            <FactionShip name="IKC ChelwI'"/>
            <FactionShip name="IKC ChenwI'"/>
            <FactionShip name="IKC ChoHwI'"/>
            <FactionShip name="IKC ChopwI'"/>
            <FactionShip name="IKC ChovwI'"/>
            <FactionShip name="IKS Ch'Tang"/>
            <FactionShip name="IKC ChungwI'"/>
            <FactionShip name="IKC Chu'wI'"/>
            <FactionShip name="IKC DajDuS"/>
            <FactionShip name="IKC Dajghol"/>
            <FactionShip name="IKC Dajghu'"/>
            <FactionShip name="IKC DaqwI'"/>
            <FactionShip name="IKC DighreS"/>
            <FactionShip name="IKC Divok"/>
            <FactionShip name="IKC Dochbeq"/>
            <FactionShip name="IKC Dochqup"/>
            <FactionShip name="IKC DojHoH"/>
            <FactionShip name="IKC DojqIvon"/>
            <FactionShip name="IKC Dojquv"/>
            <FactionShip name="IKC Dojvan"/>
            <FactionShip name="IKC DoqbaS"/>
            <FactionShip name="IKC Doqcha"/>
            <FactionShip name="IKC DoqghuH"/>
            <FactionShip name="IKC DoqHegh"/>
            <FactionShip name="IKC DoqHo'"/>
            <FactionShip name="IKC DoqmaS"/>
            <FactionShip name="IKC Doqram"/>
            <FactionShip name="IKC Drovna"/>
            <FactionShip name="IKC DughDuy"/>
            <FactionShip name="IKC Dughjup"/>
            <FactionShip name="IKC Dughla'"/>
            <FactionShip name="IKC DughQu'"/>
            <FactionShip name="IKC Dughro'"/>
            <FactionShip name="IKC DughwoQ"/>
            <FactionShip name="IKC DughyaS"/>
            <FactionShip name="IKC DujqaD"/>
            <FactionShip name="IKC DujQeH"/>
            <FactionShip name="IKC Erikang"/>
            <FactionShip name="IKC Etam"/>
            <FactionShip name="IKC Fek'lhr"/>
            <FactionShip name="IKC GhoHwI'"/>
            <FactionShip name="IKC GhorwI'"/>
            <FactionShip name="IKC GhuHwI'"/>
            <FactionShip name="IKC GhungDol"/>
            <FactionShip name="IKC Ghunglom"/>
            <FactionShip name="IKC GhungQa'"/>
            <FactionShip name="IKC GhungQogh"/>
            <FactionShip name="IKC Gi'ral"/>
            <FactionShip name="IKC Gorkon"/>
            <FactionShip name="IKS Gr'oth"/>
            <FactionShip name="IKC Gre'thor"/>
            <FactionShip name="IKC Hegh'ta"/>
            <FactionShip name="IKC HeghwI'"/>
            <FactionShip name="IKC Hembu'"/>
            <FactionShip name="IKC HemDuy"/>
            <FactionShip name="IKC Hemghol"/>
            <FactionShip name="IKC Hemlom"/>
            <FactionShip name="IKC HeQwI'"/>
            <FactionShip name="IKC HIvwI'"/>
            <FactionShip name="IKC HoSbatlh"/>
            <FactionShip name="IKC HoSbegh"/>
            <FactionShip name="IKC HoSDuj"/>
            <FactionShip name="IKC HoSjagh"/>
            <FactionShip name="IKC HoSloD"/>
            <FactionShip name="IKC HoSmu'"/>
            <FactionShip name="IKC HoSqempa'"/>
            <FactionShip name="IKC Hovpeng"/>
            <FactionShip name="IKC HubwI'"/>
            <FactionShip name="IKC HujwI'"/>
            <FactionShip name="IKC HurghSan"/>
            <FactionShip name="IKC Husghaj"/>
            <FactionShip name="IKC Jaqbeq"/>
            <FactionShip name="IKC Jaqbutlh"/>
            <FactionShip name="IKC JaqDup"/>
            <FactionShip name="IKC JaqHoq"/>
            <FactionShip name="IKC JaqtIq"/>
            <FactionShip name="IKC JaqwI'"/>
            <FactionShip name="IKC J'Ddanv"/>
            <FactionShip name="IKC JonwI'"/>
            <FactionShip name="IKC Kahless"/>
            <FactionShip name="IKC Kang"/>
            <FactionShip name="IKC Kardasz"/>
            <FactionShip name="IKC K'Ehleyr"/>
            <FactionShip name="IKC Khitomer"/>
            <FactionShip name="IKC Kirom"/>
            <FactionShip name="IKC Klag"/>
            <FactionShip name="IKS Klothos"/>
            <FactionShip name="IKC K'mpec"/>
            <FactionShip name="IKC K'nera"/>
            <FactionShip name="IKC Koloth"/>
            <FactionShip name="IKC Konmel"/>
            <FactionShip name="IKC Koord"/>
            <FactionShip name="IKC Kor"/>
            <FactionShip name="IKS Koraga"/>
            <FactionShip name="IKC Korinar"/>
            <FactionShip name="IKC Korris"/>
            <FactionShip name="IKC K'Ratak"/>
            <FactionShip name="IKC Kri'stak"/>
            <FactionShip name="IKC Kruge"/>
            <FactionShip name="IKC K'Temoc"/>
            <FactionShip name="IKC K't'inga"/>
            <FactionShip name="IKC Kurn"/>
            <FactionShip name="IKC K'Vort"/>
            <FactionShip name="IKC Le'batlh"/>
            <FactionShip name="IKC Le'chav"/>
            <FactionShip name="IKC Le'Hov"/>
            <FactionShip name="IKC Le'qorDu'"/>
            <FactionShip name="IKC LI'wI'"/>
            <FactionShip name="IKC LoHwI'"/>
            <FactionShip name="IKC Lorgh"/>
            <FactionShip name="IKC Lursor"/>
            <FactionShip name="IKS Maht-H'a"/>
            <FactionShip name="IKS Malpara"/>
            <FactionShip name="IKC Maltz"/>
            <FactionShip name="IKC M'Char"/>
            <FactionShip name="IKC Melota"/>
            <FactionShip name="IKC MeQwI'"/>
            <FactionShip name="IKC MIywI'"/>
            <FactionShip name="IKC MobwI'"/>
            <FactionShip name="IKC MolwI'"/>
            <FactionShip name="IKC Morath"/>
            <FactionShip name="IKC Morska"/>
            <FactionShip name="IKC Mulbe'Hom"/>
            <FactionShip name="IKC Mulchom"/>
            <FactionShip name="IKC Mullagh"/>
            <FactionShip name="IKC MulQogh"/>
            <FactionShip name="IKC MulSaj"/>
            <FactionShip name="IKC Mulyagh"/>
            <FactionShip name="IKC MulyaS"/>
            <FactionShip name="IKS Nardiv"/>
            <FactionShip name="IKC NajwI'"/>
            <FactionShip name="IKC NaSbutlh"/>
            <FactionShip name="IKC NaSDol"/>
            <FactionShip name="IKC NaSDup"/>
            <FactionShip name="IKC NaSgho"/>
            <FactionShip name="IKC NaSghong"/>
            <FactionShip name="IKC NaStaj"/>
            <FactionShip name="IKC Negh'Var"/>
            <FactionShip name="IKC NgIlwI'"/>
            <FactionShip name="IKC Ngojcha"/>
            <FactionShip name="IKC NgojDegh"/>
            <FactionShip name="IKC NgojDol"/>
            <FactionShip name="IKC NgojDuS"/>
            <FactionShip name="IKC Ngojpeng"/>
            <FactionShip name="IKC Ngojporgh"/>
            <FactionShip name="IKC NgongwI'"/>
            <FactionShip name="IKC Ngotlhbe'"/>
            <FactionShip name="IKC NgotlhchoH"/>
            <FactionShip name="IKC NgotlhDa'"/>
            <FactionShip name="IKC NgotlhDol"/>
            <FactionShip name="IKC Ngotlhpuq"/>
            <FactionShip name="IKS Ning'tao"/>
            <FactionShip name="IKC NIvDup"/>
            <FactionShip name="IKC Niv'etlh"/>
            <FactionShip name="IKC Nivjech"/>
            <FactionShip name="IKC NIvleSSov"/>
            <FactionShip name="IKC Nivqempa'"/>
            <FactionShip name="IKC NIvQu'"/>
            <FactionShip name="IKC Nivta'"/>
            <FactionShip name="IKC No'Mat"/>
            <FactionShip name="IKC Noycha'puj"/>
            <FactionShip name="IKC NoyDaS"/>
            <FactionShip name="IKC NoyDuj"/>
            <FactionShip name="IKC Noyqech"/>
            <FactionShip name="IKC NoyvI'"/>
            <FactionShip name="IKC Nu'Daq"/>
            <FactionShip name="IKC NuQwI'"/>
            <FactionShip name="IKS Orantho"/>
            <FactionShip name="IKC Pagh"/>
            <FactionShip name="IKC PejwI'"/>
            <FactionShip name="IKC P'Rang"/>
            <FactionShip name="IKC Praxis"/>
            <FactionShip name="IKC QabwI'"/>
            <FactionShip name="IKC QaDwI'"/>
            <FactionShip name="IKC QaHwI'"/>
            <FactionShip name="IKC QalIa'pe'"/>
            <FactionShip name="IKC Qanmang"/>
            <FactionShip name="IKC Qanvaj"/>
            <FactionShip name="IKC QarbeH"/>
            <FactionShip name="IKC QarchetvI'"/>
            <FactionShip name="IKC QarDuS"/>
            <FactionShip name="IKC QarHIch"/>
            <FactionShip name="IKC QarmIn"/>
            <FactionShip name="IKC QarnuH"/>
            <FactionShip name="IKC Qarpeng"/>
            <FactionShip name="IKC Qaw'wI'"/>
            <FactionShip name="IKC QeHtIn"/>
            <FactionShip name="IKC QeHwI'"/>
            <FactionShip name="IKC QemwI'"/>
            <FactionShip name="IKC QengwI'"/>
            <FactionShip name="IKC QeSwI'"/>
            <FactionShip name="IKC QIchwI'"/>
            <FactionShip name="IKC QIjbaS"/>
            <FactionShip name="IKC QIjcha"/>
            <FactionShip name="IKC QIjHegh"/>
            <FactionShip name="IKC QIjHo'"/>
            <FactionShip name="IKC QIjmaS"/>
            <FactionShip name="IKC QIjram"/>
            <FactionShip name="IKC QImwI'"/>
            <FactionShip name="IKC Qo'bup"/>
            <FactionShip name="IKC Qochbe'wI'"/>
            <FactionShip name="IKC Qo'Dogh"/>
            <FactionShip name="IKC Qo'Doy'"/>
            <FactionShip name="IKC Qo'Duy'"/>
            <FactionShip name="IKC Qo'Haj"/>
            <FactionShip name="IKC Qo'Haw'"/>
            <FactionShip name="IKC Qo'Hegh"/>
            <FactionShip name="IKC Qo'jegh"/>
            <FactionShip name="IKC Qo'joD"/>
            <FactionShip name="IKC Qo'jot"/>
            <FactionShip name="IKC Qo'leS"/>
            <FactionShip name="IKC Qo'lIm"/>
            <FactionShip name="IKC Qo'lobHa'"/>
            <FactionShip name="IKC Qo'lum"/>
            <FactionShip name="IKC QolwI'"/>
            <FactionShip name="IKC Qo'magh"/>
            <FactionShip name="IKC Qo'meQ"/>
            <FactionShip name="IKC Qo'moS"/>
            <FactionShip name="IKC Qo'ngeD"/>
            <FactionShip name="IKS Qo'noS Wa'"/>
            <FactionShip name="IKC Qo'Qagh"/>
            <FactionShip name="IKC Qo'QIv"/>
            <FactionShip name="IKC Qo'SaH"/>
            <FactionShip name="IKC Qo'SIH"/>
            <FactionShip name="IKC Qo'tlheD"/>
            <FactionShip name="IKC Qo'tor"/>
            <FactionShip name="IKC Qo'tun"/>
            <FactionShip name="IKC Qo'tuv"/>
            <FactionShip name="IKC Qo'yon"/>
            <FactionShip name="IKC QughwI'"/>
            <FactionShip name="IKC Quin'lat"/>
            <FactionShip name="IKC Qui'Tu"/>
            <FactionShip name="IKC QuprIp"/>
            <FactionShip name="IKC QuQlaH"/>
            <FactionShip name="IKC QuQngat"/>
            <FactionShip name="IKC QuQ'oy'"/>
            <FactionShip name="IKC QuQqaD"/>
            <FactionShip name="IKC QuQSogh"/>
            <FactionShip name="IKC QuQvaj"/>
            <FactionShip name="IKC QuQveS"/>
            <FactionShip name="IKC QuQvI'"/>
            <FactionShip name="IKC Qutbe'"/>
            <FactionShip name="IKC QutHol"/>
            <FactionShip name="IKC Qutqempa'"/>
            <FactionShip name="IKC QutSa'"/>
            <FactionShip name="IKC Qu'Vat"/>
            <FactionShip name="IKC Ro'kegh"/>
            <FactionShip name="IKC Rotarran"/>
            <FactionShip name="IKC SeHwI'"/>
            <FactionShip name="IKC SepwI'"/>
            <FactionShip name="IKS Slivin"/>
            <FactionShip name="IKS Somraw"/>
            <FactionShip name="IKC Sto'Vo'Kor"/>
            <FactionShip name="IKC SuDwI'"/>
            <FactionShip name="IKC T'Acog"/>
            <FactionShip name="IKC Ta'wI'"/>
            <FactionShip name="IKC TaymoHwI'"/>
            <FactionShip name="IKC TlheDwI'"/>
            <FactionShip name="IKC Toh'Kaht"/>
            <FactionShip name="IKS T'Ong"/>
            <FactionShip name="IKC VangwI'"/>
            <FactionShip name="IKC VaQbach"/>
            <FactionShip name="IKC VaQDoch"/>
            <FactionShip name="IKC VaQDol"/>
            <FactionShip name="IKC VaQDup"/>
            <FactionShip name="IKC VaQpeng"/>
            <FactionShip name="IKC VaQto'"/>
            <FactionShip name="IKC VaQwI'"/>
            <FactionShip name="IKC VaQyaS"/>
            <FactionShip name="IKC VerghwI'"/>
            <FactionShip name="IKC VI'wI'"/>
            <FactionShip name="IKC VorcaS"/>
            <FactionShip name="IKC Vor'cha"/>
            <FactionShip name="IKC Vorn"/>
            <FactionShip name="IKC Vornak"/>
            <FactionShip name="IKC Yavang"/>
            <FactionShip name="IKS Y'tem"/>
            <FactionShip name="IKC YotwI'"/>
        </FactionShips>
      </Faction>
      <Faction name="Gorn" allegiance="Hostile">
        <FactionShips>
          <FactionShip name="Ssssssss"/>
          <FactionShip name="zzzzsp"/>
          <FactionShip name="thzzzst"/>
        </FactionShips>
      </Faction>
      <Faction name="Vulcan" allegiance="Friendly">
        <FactionShips>
          <FactionShip name="Surak"/> 
          <FactionShip name="T'Pol"/>
        </FactionShips>
      </Faction>
      <Faction name="TestFaction" allegiance="Hostile">
        <FactionShips>
          <FactionShip name="Yo Momma"/>
          <FactionShip name="Is so Fat"/>
          <FactionShip name="Indecent Proposal"/>
          <FactionShip name="Your Worst Nightmare"/>
          <FactionShip name="Blah Blah Blah"/>
          <FactionShip name="I'm Gonna Kill You"/>
          <FactionShip name="You Can't Hit Me"/>
          <FactionShip name="I'm a Shrub"/>
          <FactionShip name="You are a Gazelle"/>
          <FactionShip name="Tom"/>
          <FactionShip name="Jerry"/>
          <FactionShip name="George Carlin"/>
          <FactionShip name="Apollo 13"/>
          <FactionShip name="noauhdgrdaxb!"/>
          <FactionShip name="P'tahk"/>
          <FactionShip name="NarfNarf"/>
          <FactionShip name="CCN 1071"/>
        </FactionShips>
      </Faction>
    </Factions>
    <GameSettings>
      <add name="QuadrantsNoHostileShips" value="There are no Hostile ships in this quadrant."/>
      <add name="QuadrantsNotSetUp" value="No quadrants set up!"/>
      <add name="QuadrantsNeedToBeSetup1" value="Quadrants need to be set up before setting up a playership"/>

      <add name="DebugNoSetUpSectorsInQuadrant" value="No Sectors Set up in Quadrant: "/>
      
      <add name="DebugSettingUpPlayership" value="Setting up PlayerShip."/>
      <add name="DebugAddingNewQuadrant" value="Adding new Quadrant."/>
      <add name="InvalidPlayershipSetup" value="Invalid Operation in setting up PlayerShip. "/>
      <add name="ErrorPlayershipSetup" value="error setting up PlayerShip. "/>
      <add name="DebugModeEnd" value=" ---------------- Debug Mode ----------------//"/>
      <add name="NoSectorDefsSetUp" value="No SectorDefs set up."/>
      <add name="NavigationNotSetUp" value="Ship not set up (Navigation). Add a Friendly to your GameConfig"/>
      <add name="TheCurrentLocation" value="That is the current location of the "/>
      <add name="InvalidXCoordinate" value="Invalid X coordinate."/>
      <add name="InvalidYCoordinate" value="Invalid Y coordinate."/>
      <add name="DestinationQuadrantY" value="Enter destination quadrant Y (1--8): "/>
      <add name="DestinationQuadrantX" value="Enter destination quadrant X (1--8): "/>
      <add name="LocatedInQuadrant" value=" located in quadrant [{0},{1}]."/>
      <add name="MaxWarpFactorMessage" value="Maximum warp factor: {0}"/>
      <add name="WarpEnginesRepaired" value="Warp engines have been repaired."/>
      <add name="WarpEnginesDamaged" value="Warp engines damaged."/>
      <add name="BoundsHigh" value="7"/>
      <add name="BoundsLow" value="0"/>
      <add name="DebugMode" value="false"/>
      <add name="KeepPlaying" value="true"/>
      <add name="PlayerShip" value="Enterprise"/>
      <add name="Hostile" value="BadGuy"/>
      <add name="stardate" value="2250"/>
      <add name="energy" value="2000"/> <!-- this is the starting energy of playership -->
      <add name="repairEnergy" value="2001"/>
      <add name="shieldEnergy" value="0"/>
      <add name="photonTorpedoes" value="10"/>
      <add name="timeRemaining" value="40"/>
      <add name="starbases" value="12"/>
      <add name="totalHostiles" value="25"/>
      <add name="BadGuy1Name" value="Klingon"/>
      <add name="MaxWarpFactor" value="9"/>
      <add name="LowEnergyLevel" value="300"/>
      <add name="ShieldsDownLevel" value="0"/>
      <add name="SECTOR_MIN" value="0"/>
      <add name="SECTOR_MAX" value="8"/>
      <add name="QUADRANT_MIN" value="0"/>
      <add name="QuadrantMax" value="8"/>
      <add name="CommandPrompt" value="Enter command: "/>
      <add name="CommandPromptNavigation" value="nav"/>
           
      <add name="DisruptorShotSeed" value="300"/>
      <add name="DisruptorShotDeprecationLevel" value="11.3"/>
      <!-- names value should actually change if fired through a medium, such as through a gas cloud -->
      <add name="DisruptorEnergyAdjustment" value="1.0"/>
          
      <add name="DamageSeed" value="5"/>
       
      <!-- name hooked up yet (to save game state so it can be resumed) this can go in settings up above -->
      <add name="quadrantX" value="8"/>
      <add name="quadrantY" value="8"/>
      <add name="sectorX" value="8"/>
      <add name="sectorY" value="8"/>
      <add name="warpDriveDamage" value="0"/>
      <add name="shortRangeScanDamage" value="0"/>
      <add name="longRangeScanDamage" value="0"/>
      <add name="shieldControlDamage" value="0"/>
      <add name="computerDamage" value="0"/>
      <add name="photonDamage" value="0"/>
      <add name="phaserDamage" value="0"/>
      <add name="shieldLevel" value="0"/>
      <add name="docked" value="false"/>
    </GameSettings>
  </StarTrekKGSettings>
  
  <!-- These settings are pulled on demand, and not cached -->
  <appSettings>
    <add key="NotUsed" value="true"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>

