<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="StarTrekKGSettings" type="StarTrek_KG">
      <section name="StarTrekKGSettings" type="StarTrek_KG.Config, StarTrekKGSettings"/>
      <section name="StarSystems" type="StarTrek_KG.Config, StarSystems"/>
      <section name="System" type="StarTrek_KG.Config, System"/>
    </sectionGroup>
    <sectionGroup name="RegisterCompanies" type="StarTrek_KG.Config.RegisterCompaniesConfig">
      <section name="Companies" type="StarTrek_KG.Config.RegisterCompaniesConfig"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="KeepPlaying" value="true"/>
    <add key="PlayerShip" value="Enterprise"/>
    <add key="Hostile" value="BadGuy"/>
    <add key="stardate" value="2250"/>
    <add key="energy" value="3000"/>
    <add key="shieldEnergy" value="0"/>
    <add key="photonTorpedoes" value="10"/>
    <add key="timeRemaining" value="40"/>
    <add key="starbases" value="12"/>
    <add key="totalHostiles" value="15"/>
    <add key="BadGuy1Name" value="Klingon"/>
    <add key="MaxWarpFactor" value="9"/>
    <add key="LowEnergyLevel" value="300"/>
    <add key="ShieldsDownLevel" value="0"/>
    <add key="SECTOR_MIN" value="0"/>
    <add key="SECTOR_MAX" value="8"/>
    <add key="QUADRANT_MIN" value="0"/>
    <add key="QuadrantMax" value="8"/>
    <add key="CommandPrompt" value="Enter command: "/>
    <add key="CommandPromptNavigation" value="nav"/>

    <!-- not hooked up yet -->
    <add key="quadrantX" value="8"/>
    <add key="quadrantY" value="8"/>
    <add key="sectorX" value="8"/>
    <add key="sectorY" value="8"/>
    <add key="warpDriveDamage" value="0"/>
    <add key="shortRangeScanDamage" value="0"/>
    <add key="longRangeScanDamage" value="0"/>
    <add key="shieldControlDamage" value="0"/>
    <add key="computerDamage" value="0"/>
    <add key="photonDamage" value="0"/>
    <add key="phaserDamage" value="0"/>
    <add key="shieldLevel" value="0"/>
    <add key="docked" value="false"/>
  </appSettings>

  <RegisterCompanies>
    <Companies>
      <Company name="Tata Motors" code="Tata"/>
      <Company name="Honda Motors" code="Honda"/>
    </Companies>
  </RegisterCompanies>

  <StarTrekKGSettings name="Fred">
    <StarSystems name="Joe">
      <StarSystem name="Aaamazzara"/>
      <StarSystem name="Altair IV"/>
      <StarSystem name="Aurelia"/>
      <StarSystem name="Bajor"/>
      <StarSystem name="Benthos"/>
    </StarSystems>
  </StarTrekKGSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>

