<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StarTrekKGSettings" type="StarTrek_KG.Config.StarTrekKGSettings, StarTrek_KG"/>
  </configSections>

  <StarTrekKGSettings>
    <StarSystems>
      <StarSystem name="Aaamazzara"/>
      <StarSystem name="Altair IV"/>
      <StarSystem name="Aurelia"/>
      <StarSystem name="Bajor"/>
      <StarSystem name="Benthos"/>
      <StarSystem name="Cait"/>
      <StarSystem name="Cobb"/>
      <StarSystem name="Cygnia Minor"/>
      <StarSystem name="Daran"/>
      <StarSystem name="Duronom"/>
      <StarSystem name="Dytallix B"/>
      <StarSystem name="Efros"/>
      <StarSystem name="El-Adrel"/>
      <StarSystem name="Epsilon Caneris"/>
      <StarSystem name="Finnea Prime"/>
      <StarSystem name="Freehaven"/>
      <StarSystem name="Gagarin"/>
      <StarSystem name="Gamma Trianguli"/>
      <StarSystem name="Genesis"/>
      <StarSystem name="H'atoria"/>
      <StarSystem name="Heinlein"/>
      <StarSystem name="Hurkos"/>
      <StarSystem name="Iconia"/>
      <StarSystem name="Ivor"/>
      <StarSystem name="Iyaar"/>
      <StarSystem name="Janus"/>
      <StarSystem name="Jouret"/>
      <StarSystem name="Juhraya"/>
      <StarSystem name="Kabrel"/>
      <StarSystem name="Kelva"/>
      <StarSystem name="Ktaris"/>
      <StarSystem name="Ligillium"/>
      <StarSystem name="Lando"/>
      <StarSystem name="Lyshan"/>
      <StarSystem name="Magus"/>
      <StarSystem name="Matalas"/>
      <StarSystem name="Mudd"/>
      <StarSystem name="New Bajor"/>
      <StarSystem name="Nova Kron"/>
      <StarSystem name="Octavia"/>
      <StarSystem name="Ogat"/>
      <StarSystem name="Orion"/>
      <StarSystem name="Oshionion Prime"/>
      <StarSystem name="Pegos Minor"/>
      <StarSystem name="P'Jem"/>
      <StarSystem name="Praxillus"/>
      <StarSystem name="Quadra Sigma"/>
      <StarSystem name="Quazulu"/>
      <StarSystem name="Qin Shi Huang"/>
      <StarSystem name="Reynolds"/>
      <StarSystem name="Rigel"/>
      <StarSystem name="Risa"/>
      <StarSystem name="Romulus"/>
      <StarSystem name="Sauria"/>
      <StarSystem name="Sigma Draconis"/>
      <StarSystem name="Spica"/>
      <StarSystem name="Talos"/>
      <StarSystem name="Tam"/>
      <StarSystem name="Tau Alpha C"/>
      <StarSystem name="Ti'Acor"/>
      <StarSystem name="Udala"/>
      <StarSystem name="Ultima Thule"/>
      <StarSystem name="Uxal"/>
      <StarSystem name="Vacca"/>
      <StarSystem name="Volan"/>
      <StarSystem name="Vulcan"/>
      <StarSystem name="Wadi"/>
      <StarSystem name="Wolf"/>
      <StarSystem name="WhiteSun"/>
      <StarSystem name="Wysanti"/>
      <StarSystem name="Xanthras"/>
      <StarSystem name="Xendi Sabu"/>
      <StarSystem name="Xindus"/>
      <StarSystem name="Yadalla Prime"/>
      <StarSystem name="Yadera"/>
      <StarSystem name="Yavin"/>
      <StarSystem name="Yridian"/>
      <StarSystem name="Zalkon"/>
      <StarSystem name="Zane"/>
      <StarSystem name="Zeta Alpha"/>
    </StarSystems>
  </StarTrekKGSettings>

  <appSettings>
    <add key="KeepPlaying" value="true"/>
    <add key="PlayerShip" value="Enterprise"/>
    <add key="Hostile" value="BadGuy"/>
    <add key="stardate" value="2250"/>
    <add key="energy" value="3000"/>
    <add key="shieldEnergy" value="0"/>
    <add key="photonTorpedoes" value="10"/>
    <add key="timeRemaining" value="40"/>
    <add key="starbases" value="12"/>
    <add key="totalHostiles" value="25"/>
    <add key="BadGuy1Name" value="Klingon"/>
    <add key="MaxWarpFactor" value="9"/>
    <add key="LowEnergyLevel" value="300"/>
    <add key="ShieldsDownLevel" value="0"/>
    <add key="SECTOR_MIN" value="0"/>
    <add key="SECTOR_MAX" value="8"/>
    <add key="QUADRANT_MIN" value="0"/>
    <add key="QuadrantMax" value="8"/>
    <add key="CommandPrompt" value="Enter command: "/>
    <add key="CommandPromptNavigation" value="nav"/>

    <!-- not hooked up yet -->
    <add key="quadrantX" value="8"/>
    <add key="quadrantY" value="8"/>
    <add key="sectorX" value="8"/>
    <add key="sectorY" value="8"/>
    <add key="warpDriveDamage" value="0"/>
    <add key="shortRangeScanDamage" value="0"/>
    <add key="longRangeScanDamage" value="0"/>
    <add key="shieldControlDamage" value="0"/>
    <add key="computerDamage" value="0"/>
    <add key="photonDamage" value="0"/>
    <add key="phaserDamage" value="0"/>
    <add key="shieldLevel" value="0"/>
    <add key="docked" value="false"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>