<?xml version="1.0"?>
<configuration>
  <configSections>
      <section name="StarTrekKGSettings" type="StarTrek_KG.Config.StarTrekKGSettings, StarTrek_KG"/>
  </configSections>
  
  <StarTrekKGSettings>
    <StarSystems>
      <StarSystem name="Aaamazzara"/>
      <StarSystem name="Altair IV"/>
      <StarSystem name="Aurelia"/>
      <StarSystem name="Bajor"/>
      <StarSystem name="Benthos"/>
      <StarSystem name="Cait"/>
      <StarSystem name="Cobb"/>
      <StarSystem name="Cygnia Minor"/>
      <StarSystem name="Daran"/>
      <StarSystem name="Duronom"/>
      <StarSystem name="Dytallix B"/>
      <StarSystem name="Efros"/>
      <StarSystem name="El-Adrel"/>
      <StarSystem name="Epsilon Caneris"/>
      <StarSystem name="Finnea Prime"/>
      <StarSystem name="Freehaven"/>
      <StarSystem name="Gagarin"/>
      <StarSystem name="Gamma Trianguli"/>
      <StarSystem name="Genesis"/>
      <StarSystem name="H'atoria"/>
      <StarSystem name="Heinlein"/>
      <StarSystem name="Hurkos"/>
      <StarSystem name="Iconia"/>
      <StarSystem name="Ivor"/>
      <StarSystem name="Iyaar"/>
      <StarSystem name="Janus"/>
      <StarSystem name="Jouret"/>
      <StarSystem name="Juhraya"/>
      <StarSystem name="Kabrel"/>
      <StarSystem name="Kelva"/>
      <StarSystem name="Ktaris"/>
      <StarSystem name="Ligillium"/>
      <StarSystem name="Lando"/>
      <StarSystem name="Lyshan"/>
      <StarSystem name="Magus"/>
      <StarSystem name="Matalas"/>
      <StarSystem name="Mudd"/>
      <StarSystem name="New Bajor"/>
      <StarSystem name="Nova Kron"/>
      <StarSystem name="Octavia"/>
      <StarSystem name="Ogat"/>
      <StarSystem name="Orion"/>
      <StarSystem name="Oshionion Prime"/>
      <StarSystem name="Pegos Minor"/>
      <StarSystem name="P'Jem"/>
      <StarSystem name="Praxillus"/>
      <StarSystem name="Quadra Sigma"/>
      <StarSystem name="Quazulu"/>
      <StarSystem name="Qin Shi Huang"/>
      <StarSystem name="Reynolds"/>
      <StarSystem name="Rigel"/>
      <StarSystem name="Risa"/>
      <StarSystem name="Romulus"/>
      <StarSystem name="Sauria"/>
      <StarSystem name="Sigma Draconis"/>
      <StarSystem name="Spica"/>
      <StarSystem name="Talos"/>
      <StarSystem name="Tam"/>
      <StarSystem name="Tau Alpha C"/>
      <StarSystem name="Ti'Acor"/>
      <StarSystem name="Udala"/>
      <StarSystem name="Ultima Thule"/>
      <StarSystem name="Uxal"/>
      <StarSystem name="Vacca"/>
      <StarSystem name="Volan"/>
      <StarSystem name="Vulcan"/>
      <StarSystem name="Wadi"/>
      <StarSystem name="Wolf"/>
      <StarSystem name="WhiteSun"/>
      <StarSystem name="Wysanti"/>
      <StarSystem name="Xanthras"/>
      <StarSystem name="Xendi Sabu"/>
      <StarSystem name="Xindus"/>
      <StarSystem name="Yadalla Prime"/>
      <StarSystem name="Yadera"/>
      <StarSystem name="Yavin"/>
      <StarSystem name="Yridian"/>
      <StarSystem name="Zalkon"/>
      <StarSystem name="Zane"/>
      <StarSystem name="Zeta Alpha"/>
    </StarSystems>
    <ConsoleText>
        <!-- //Title by Joshua Bell, Enterprise by Unknown, modified by Kevin Gabbert -->
        <Text name="AppTitle1" value="     ________________ _     _____      _______________      ______ ___   ___"/>
        <Text name="AppTitle2" value="   ,' ________   ___// \    \  __ \   /___   ___/\  __ \   / ____/ \ /  ,' /"/>
        <Text name="AppTitle3" value="  |  `-.__    | |   / . \   | | / /       | |    | | / /  | /____  | | / .'"/>
        <Text name="AppTitle4" value="   `-.___ `.  | |  / /_\ \  |  _ `.       | |    |  _ `.  | ____/  |  _ `."/>
        <Text name="AppTitle5" value="  _______\  \ | | / _____ \ | | `. \_     | |    | | `. \_| \____  | | `. \___"/>
        <Text name="AppTitle6" value=" /___________|/_|/_/     \_\|_\  /__/     /_\    |_\  /__/ `.____| |_\   /_____\"/>
        <Text name="AppTitle7" value=""/>
        <Text name="AppTitle8" value="                       _________________        _"/>
        <Text name="AppTitle9" value="                       \-__(=======//o)/____.--'-`--.___"/>
        <Text name="AppTitle10" value="                                  \ \  `,--,--.___.-----'"/>
        <Text name="AppTitle11" value="                                .--`\\-'-=="/>
        <Text name="AppTitle12" value="                               '--.______.|]"/>
      
        <Text name="UnderConstructionMessage" value="** UNDER CONSTRUCTION **"/>
        <Text name="UnderConstructionMessage2" value="Some things may not work correctly.  Deal with it.  Have a nice day. ☺"/>
      
        <Text name="MissionStatement" value= "Mission: Destroy {0} Hostile ships in {1} stardates with {2} starbases." />
        <Text name="PhotonTorpedoesDamaged" value="Photon torpedo control is damaged." />
        <Text name="RepairsUnderway" value="Repairs are underway." />
        <Text name="SuccessfullDock" value="successfully docked with starbase." />
        <Text name="ComputerDamaged" value="The main computer is damaged." />
        <Text name="SRSDamaged" value="Short range scanner is damaged." />
        <Text name="LRSDamaged" value="Long range scanner is damaged." />
        <Text name="LowEnergyLevel" value="Condition YELLOW: Low energy level."/>

        <Text name="shipDestroyed" value="destroyed at sector"/>
        <Text name="GalacticRecordLine" value="-------------------------------------------------"/>
      
        <!-- Short Range Scan Screen -->
        <Text name="SRSTopBorder" value="|=--=--=--=--=--=--=--=|"/>
        <Text name="SRSRegionIndicator" value="             Region: {0}"/>
        <Text name="SRSQuadrantIndicator" value="           Quadrant: [{0},{1}]"/>
        <Text name="SRSSectorIndicator" value="             Sector: [{0},{1}]"/>
        <Text name="SRSStardateIndicator" value="           Stardate: {0}"/>
        <Text name="SRSTimeRemainingIndicator" value="     Time remaining: {0}"/>
        <Text name="SRSConditionIndicator" value="          Condition: {0}"/>
        <Text name="SRSEnergyIndicator" value="             Energy: {0}"/>
        <Text name="SRSShieldsIndicator" value="            Shields: {0}"/>
        <Text name="SRSTorpedoesIndicator" value="   Photon Torpedoes: {0}"/>
        <Text name="SRSDockedIndicator" value="             Docked: {0}"/>
        <Text name="SRSBottomBorder" value="|=--=--=--=--=--=--=--=|"/>
      
        <!-- Print Current Status -->
        <Text name="CSTimeRemaining" value="               Time Remaining: {0}"/>
        <Text name="CSHostilesRemaining" value="      Hostile Ships Remaining: {0}"/>
        <Text name="CSHostilesInQuadrant" value="         Hostiles in Quadrant: {0}"/>
        <Text name="CSStarbases" value="                    Starbases: {0}"/>
        <Text name="CSWarpEngineDamage" value="           Warp Engine Damage: {0}"/>
        <Text name="CSSRSDamage" value="   Short Range Scanner Damage: {0}"/>
        <Text name="CSLRSDamage" value="    Long Range Scanner Damage: {0}"/>
        <Text name="CSShieldsDamage" value="       Shield Controls Damage: {0}"/>
        <Text name="CSComputerDamage" value="         Main Computer Damage: {0}"/>
        <Text name="CSPhotonDamage" value="Photon Torpedo Control Damage: {0}"/>
        <Text name="CSPhaserDamage" value="                Phaser Damage: {0}"/>
      
        <Text name="HostileDetected" value="Condition RED: Hostile{0} detected."/>
        <Text name="ShieldsDown" value="Warning: Shields are down."/>
        <Text name="IDHostile" value="Hostile identified as: {0}"/>

        <Text name="SectorDefSetupError" value="Error Setting up Sector"/>
        <Text name="DockingMessageLowerShields" value="Lowering shields as part of docking sequence...}"/>
      
        <Text name="TimeRemaining" value="Long range scanner is damaged." />
        <Text name="HostilesRemaining" value="Long range scanner is damaged." />
        <Text name="HostilesInQuadrant" value="Long range scanner is damaged." />
        <Text name="Starbases" value="Long range scanner is damaged." />
        <Text name="WarpDamage" value="Long range scanner is damaged." />
        <Text name="SRSDamage" value="Long range scanner is damaged." />
        <Text name="LRSDamage" value="Long range scanner is damaged." />
        <Text name="ShieldDamage" value="Long range scanner is damaged." />
        <Text name="ComputerDamage" value="Long range scanner is damaged." />
        <Text name="PhotonDamage" value="Long range scanner is damaged." />
        <Text name="PhaserDamage" value="Long range scanner is damaged." />
    </ConsoleText>
    <Factions>
      <Faction name="Klingon" allegiance="Hostile"> 
        <FactionShips>
            <FactionShip name="IKS Nardiv"/>
            <FactionShip name="IKS Maltz"/>
        </FactionShips>
      </Faction>
      <Faction name="Gorn" allegiance="Hostile">
        <FactionShips>
          <FactionShip name="Ssssssss"/>
          <FactionShip name="zzzzsp"/>
          <FactionShip name="thzzzst"/>
        </FactionShips>
      </Faction>
      <Faction name="Vulcan" allegiance="Friendly">
        <FactionShips>
          <FactionShip name="Surak"/> 
          <FactionShip name="T'Pol"/>
        </FactionShips>
      </Faction>
    </Factions>
  </StarTrekKGSettings>
  
  <appSettings>
      <add key="KeepPlaying" value="true"/>
      <add key="PlayerShip" value="Enterprise"/>
      <add key="Hostile" value="BadGuy"/>
      <add key="stardate" value="2250"/>
      <add key="energy" value="3000"/>
      <add key="shieldEnergy" value="0"/>
      <add key="photonTorpedoes" value="10"/>    
      <add key="timeRemaining" value="40"/>
      <add key="starbases" value="12"/>
      <add key="totalHostiles" value="25"/>
      <add key="BadGuy1Name" value="Klingon"/>
      <add key="MaxWarpFactor" value="9"/>
      <add key="LowEnergyLevel" value="300"/>
      <add key="ShieldsDownLevel" value="0"/>
      <add key="SECTOR_MIN" value="0"/>
      <add key="SECTOR_MAX" value="8"/>
      <add key="QUADRANT_MIN" value="0"/>
      <add key="QuadrantMax" value="8"/>   
      <add key="CommandPrompt" value="Enter command: "/>
      <add key="CommandPromptNavigation" value="nav"/>

      <add key="DisruptorShotSeed" value="300"/>
      <add key="DisruptorShotDeprecationLevel" value="11.3"/><!-- This value should actually change if fired through a medium, such as through a gas cloud -->
      <add key="DisruptorEnergyAdjustment" value="1.0"/>

      <add key="DamageSeed" value="5"/>
    
      <!-- not hooked up yet (to save game state so it can be resumed) this can go in settings up above -->
      <add key="quadrantX" value="8"/>
      <add key="quadrantY" value="8"/>
      <add key="sectorX" value="8"/>
      <add key="sectorY" value="8"/>
      <add key="warpDriveDamage" value="0"/>
      <add key="shortRangeScanDamage" value="0"/>
      <add key="longRangeScanDamage" value="0"/>
      <add key="shieldControlDamage" value="0"/>
      <add key="computerDamage" value="0"/>
      <add key="photonDamage" value="0"/>
      <add key="phaserDamage" value="0"/>
      <add key="shieldLevel" value="0"/>
      <add key="docked" value="false"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>

